body {
  background-color: #bfefff;

}

#main {
  background-color: #87CEEB;
}
   
  #title{
    font-size: 40px;
    text-align: center;
  }
  
  .center {
    text-align: center;
    font-size: 15px;
  }
  
  #img-div{
  width: 800px; 
  position: relative;
  margin: auto;
  background-color: #bfefff;
  padding: 5% 5% 0 5%;
  }
  
  #image{
   max-width: 100%;
   height: auto;
   text-align: center;
   display: block;
  }
  
  #img-caption {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
  }
  
  #tribute-info {
    margin: 3% 23% 3% 23%;    
  }

  .center-link {
    text-align: center;
  }
 
  .padding-txt {
    padding-bottom: 25px;
  }

  .courier {
    font-family: 'Courier New', Courier, monospace;
  }
